@import url('https://fonts.cdnfonts.com/css/sofia-sans');

body {
  margin : 0;
  padding : 0;
  background-image : linear-gradient(#222831, #31363F);
  height : 100vh;
}
.container {
  text-align: center;
  color : #EEEEEE;
  margin-top : 5vh;
  padding : 0;
  font-family: "Sofia Sans", sans-serif;
  
}
.container h2 {
  font-size : 5vh;
  
}
.container a:hover {
  color : white;
}
.container a {
  color : white;
}
.form-khodam {
  border-radius : 2vh;
  padding : 2vh;
  overflow : hidden;
  background-image : linear-gradient(#76ABAE, #90ced1);
  margin-top : 10vh;
  margin-right : 5vh;
  margin-left : 5vh;
}
.form-khodam form input {
  height : 4vh;
  font-family: "Sofia Sans", sans-serif;
  border : none;
}
.form-khodam form input:focus, input:active {
  border : none;
  outline : none;
}
#form-name {
  margin-top : 10vh;
  background-color : transparent;
  text-align: center;
  border : none;
  font-size : 3vh;
  height : 5vh;
  
  color : white;
}
#form-name::placeholder {
  color : white;
  font-size : 3vh
}
#submit {
  background-color : #618f91;
  border-radius : 3vh;
  border : none;
  margin-top : 10vh;
  margin-bottom : 10vh;
  padding : 2vh;
  height : 10vh;
  color : white;
  font-size : 5vh;
}
.khodamResult {
  margin-top : 20vh;
  font-size : 8vh;
}